@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

* {
  outline: 1px solid red;
}

:root {
  --text-black: #37373F;
  --text-grey: #B3B3B3;
  --text-white: #FFFFFF;
  --text-orange: #FC9B09;
}

.body {
  max-width: 1920px;
  width: 100%;
  font-family: 'Montserrat';
}

.header {
  max-width: 1140px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 25px;
}

.header__phone {
  margin: 0;
  padding: 0;
  color: var(--text-black);
  font-weight: 400;
  font-size: 14px;
  line-height: calc((17/14)*100%);
}

.header__phone_colored {
  color: var(--text-grey);
}

.main {
  width: 100%;
}

.section1 {
  background: url(../images/helimain.jpg) no-repeat;
  height: 840px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.section1__title {
  font-weight: 700;
  font-size: 40px;
  line-height: calc((49/40)*100%);
  text-align: center;
  margin: 0;
  padding: 0;
  color: var(--text-white);
  width: 887px;
}

.section1__title_colored {
  color: var(--text-orange);
}

.section1__button {
  background: none;
  border: 3px solid var(--text-white);
  /* filter: drop-shadow(0px 4px 70px rgba(255, 255, 255, 0.7)) drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25)); */
  border-radius: 3px;
  font-weight: 900;
  font-size: 18px;
  line-height: calc((22/19)*100%);
  text-align: center;
  color: #FFFFFF;
  width: 304px;
  height: 68px;
  cursor: pointer;
  transition: all .5;
}

.section1__button:hover {
  opacity: .5;
}


.footer {}